Repository iDevEngineer/saas-dash: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: add CI/CD workflow
  .github/workflows/ci.yml
Due: prettier --write

refactor: clean up project structure and prepare for documentation migration
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  EMAIL_SETUP.md
  NAVIGATION_SYSTEM.md
  PRICING_MANAGEMENT.md
  README.md
  docs/README.md
  playwright.config.ts
  src/app/dashboard/admin/email/page.tsx
  test-email-config.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: implement audit logging and webhook systems with enhanced auth
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/app/api/audit/events/route.ts
  src/app/api/audit/stats/route.ts
  src/app/api/auth/[...all]/route.ts
  src/app/api/auth/sign-in/email/route.ts
  src/app/api/cron/webhook-retries/route.ts
  src/app/api/me/organization/route.ts
  src/app/api/webhooks/[id]/route.ts
  src/app/api/webhooks/route.ts
  src/app/auth/signin/page.tsx
  src/app/dashboard/admin/audit/page.tsx
  src/app/dashboard/admin/webhooks/page.tsx
  src/components/admin/audit-event-details-dialog.tsx
  src/components/admin/create-webhook-dialog.tsx
  src/components/admin/webhook-details-dialog.tsx
  src/components/dashboard/nav.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/components/ui/scroll-area.tsx
  src/lib/audit/audit-service.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema/audit-logs.ts
  src/lib/db/schema/index.ts
  src/lib/db/schema/webhooks.ts
  src/lib/permissions.ts
  src/lib/webhooks/webhook-service.ts
  src/middleware.ts
  src/types/permissions.ts
  tests/login-debug.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore: clean up repository structure and remove debug files
  .gitignore
Due: none

feat: add comprehensive API key management system
  README.md
  src/app/api/api-keys/[id]/regenerate/route.ts
  src/app/api/api-keys/[id]/route.ts
  src/app/api/api-keys/route.ts
  src/app/api/auth/[...all]/route.ts
  src/app/api/webhooks/[id]/route.ts
  src/app/api/webhooks/route.ts
  src/app/dashboard/admin/api-keys/layout.tsx
  src/app/dashboard/admin/api-keys/page.tsx
  src/app/dashboard/admin/audit/page.tsx
  src/components/admin/audit-event-details-dialog.tsx
  src/components/dashboard/nav.tsx
  src/lib/api-keys/api-key-service.ts
  src/lib/api-keys/security.ts
  src/lib/db/schema/api-keys.ts
  src/lib/db/schema/index.ts
  src/lib/permissions.ts
  src/types/permissions.ts
  tests/admin-navigation.spec.ts
  tests/auth-debug.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: reorder GitHub Actions steps to install pnpm before caching
  .github/workflows/ci.yml
Due: prettier --write

fix: configure Vitest to exclude Playwright E2E tests
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: resolve pnpm lockfile compatibility issue in CI
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve Vitest ESM module loading error in CI
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: remove problematic Vitest config and skip unit tests in CI
  .github/workflows/ci.yml
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

test: add unit tests for permissions system and enable CI testing
  .github/workflows/ci.yml
  src/lib/__tests__/permissions.test.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: add vitest config to resolve CI test failures
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: remove vitest config and use inline configuration to resolve CI failures
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: remove jsdom environment to resolve webidl-conversions error
  package.json
Due: prettier --write

Feature/priority (#4)
  .github/workflows/ci.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/app/api/api-keys/[id]/regenerate/route.ts
  src/app/api/api-keys/[id]/route.ts
  src/app/api/api-keys/route.ts
  src/app/api/auth/[...all]/route.ts
  src/app/api/webhooks/[id]/route.ts
  src/app/api/webhooks/route.ts
  src/app/dashboard/admin/api-keys/layout.tsx
  src/app/dashboard/admin/api-keys/page.tsx
  src/app/dashboard/admin/audit/page.tsx
  src/components/admin/audit-event-details-dialog.tsx
  src/components/dashboard/nav.tsx
  src/lib/__tests__/permissions.test.ts
  src/lib/api-keys/api-key-service.ts
  src/lib/api-keys/security.ts
  src/lib/db/schema/api-keys.ts
  src/lib/db/schema/index.ts
  src/lib/permissions.ts
  src/types/permissions.ts
  tests/admin-navigation.spec.ts
  tests/auth-debug.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: defer email service database initialization to prevent build failures
  src/lib/email/service.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,yaml,yml})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
